:root {
  --color-pink-1: #ffe0e9;
  --color-pink-2: #b33d72;
  --color-shadow-light--6: rgba(255, 224, 233, 0.06);
  --color-shadow-dark--18: rgba(179, 61, 114, 0.18);
  --color-shadow-dark--25: rgba(179, 61, 114, 0.25);
  --color-pink-frame-1--40: rgba(163, 133, 138, 0.4);
  --color-pink-hint-1--60: rgba(163, 133, 138, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

.icon {
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 100vh;
}

.login {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  background-color: var(--color-pink-1);
  border-radius: 46px;
  padding: 48px 24px;
  box-shadow: 0 2px 15px 11px var(--color-shadow-light--6),
    0 3px 13px 6px var(--color-shadow-dark--18);
}

@media (min-width: 1158px) {
  .login {
    gap: 32px;
    width: 360px;
  }
}

.login .title-container {
  display: flex;
  align-items: center;
}

.login__title {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 0.75;
  letter-spacing: 0.02em;
  color: var(--color-pink-2);
  text-transform: uppercase;
  text-shadow: 0 4px 4px var(--color-shadow-dark--25);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login__title + .icon {
  fill: var(--color-pink-2);
  filter: drop-shadow(0 4px 4px var(--color-shadow-dark--25));
}

@media (min-width: 1158px) {
  .login__title + .icon {
    width: 32px;
    height: 32px;
  }
}

.login .title-container:hover .login__title,
.login .title-container:focus .login__title {
  text-shadow: 0 4px 4px var(--color-shadow-light--6);
}

.login .title-container:hover .login__title + .icon,
.login .title-container:focus .login__title + .icon {
  filter: drop-shadow(0 4px 4px var(--color-shadow-light--6));
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.login-form__input {
  font-size: 20px;
  font-family: "Swanky and Moo Moo", sans-serif;
  color: var(--color-pink-2);
  line-height: 0.7;
  letter-spacing: 0.04em;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding: 12px 12px;
  border: 1px solid var(--color-pink-frame-1--40);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form__input::placeholder {
  color: var(--color-pink-hint-1--60);
}

.login-form__input:focus-within,
.login-form__input:hover,
.login-form__input:focus {
  box-shadow: 0px 0px 4px 0 var(--color-shadow-dark--25);
}

.login__button {
  position: relative;
  display: block;
  width: 169px;
  height: 56px;
  background-color: var(--color-pink-2);
  border-radius: 36px;
  box-shadow: 0 4px 4px 0 var(--color-shadow-dark--25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login__button > .icon {
  position: absolute;
  top: 8px;
  left: 48px;
  filter: drop-shadow(0 4px 4px var(--color-shadow-dark--25));
}

.login__button:hover,
.login__button:focus {
  box-shadow: 0 4px 4px 0 var(--color-shadow-light--6);
}

.login__button:hover > .icon,
.login__button:focus > .icon {
  filter: drop-shadow(0 4px 4px var(--color-shadow-light--6));
}
