@import "./_colors.css";

body {
  background-color: var(--color-BLACK-BLUE);
}

.login {
  background-color: var(--color-PIGEON-BLUE);
  box-shadow: 0 2px 15px 11px var(--color-LIGHT-BLUE--6),
    0 3px 13px 6px var(--color-GREY-BLUE--18);
}

.login__title {
  color: var(--color-SULPHUR-YELLOW);
  text-shadow: 0 4px 4px var(--color-GREEN-BLUE--25);
}

.login__title {
  color: var(--color-SULPHUR-YELLOW);
  text-shadow: 0 4px 4px var(--color-GREEN-BLUE--25);
}

.login__title + .icon {
  fill: var(--color-SULPHUR-YELLOW);
  filter: drop-shadow(0 4px 4px var(--color-GREEN-BLUE--25));
}

.login .title-container:hover .login__title,
.login .title-container:focus .login__title {
  text-shadow: 0 4px 4px var(--color-LIGHT-BLUE--6);
}

.login .title-container:hover .login__title + .icon,
.login .title-container:focus .login__title + .icon {
  filter: drop-shadow(0 4px 4px var(--color-LIGHT-BLUE--6));
}

.login-form__input {
  color: var(--color-SULPHUR-YELLOW);
  border: 1px solid var(--color-IVORY--40);
}

.login-form__input {
  color: var(--color-SULPHUR-YELLOW);
  border: 1px solid var(--color-IVORY--40);
}

.login-form__input::placeholder {
  color: var(--color-IVORY--60);
}

.login-form__input:focus-within,
.login-form__input:hover,
.login-form__input:focus {
  box-shadow: 0px 0px 5px 0 var(--color-SULPHUR-YELLOW--25);
}

.login__button {
  background-color: var(--color-SULPHUR-YELLOW);
  box-shadow: 0 4px 4px 0 var(--color-GREEN-BLUE--25);
}

.login__button > .icon {
  filter: drop-shadow(0 4px 4px var(--color-GREEN-BLUE--25));
}

.login__button:hover,
.login__button:focus {
  box-shadow: 0 4px 4px 0 var(--color-LIGHT-BLUE--6);
}

.login__button:hover > .icon,
.login__button:focus > .icon {
  filter: drop-shadow(0 4px 4px var(--color-LIGHT-BLUE--6));
}
