<div class="container-scroll-button">
  <div class="scroll-button">
    <!-- TO DO: href="#footer/#header" -->
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <a href="home.html#hero" class="click-area"></a>
    <img
      src="/img/home/luffy-gear-5-laughing.gif"
      class="scroll-button__img"
      alt="Scroll button"
    />
  </div>
</div>
