.footer {
  position: sticky;
  bottom: 0%;
  width: 100%;
  /* TO DO: set the height property using inner content */
  height: 288px;
  background-color: var(--color-BASALT-GREY);
  box-shadow: 0 0 15px 0 var(--BLACK--40);
  z-index: 100;

  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 30px;
}

.copy-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Swanky and Moo Moo", sans-serif;
  color: var(--BLACK);
  line-height: 1.5;
  letter-spacing: 0.15em;
}

.copy-right .icon {
  fill: transparent;
  stroke: var(--BLACK);
}

@media (min-width: 700px) {
  .copy-right .icon {
    width: 16px;
    height: 16px;
  }
}

.copy-right .link {
  color: inherit;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.copy-right:hover .link {
  text-decoration-color: var(--color-ONYX);
}
