/* Primary color scheme from the layout */
:root {
  --color-SIGNAL-BLACK: #2c2c2c;

  /* pink theme */
  --color-PURPLE-VIOLET: #522e38;
  --color-PIGGY-PINK: #ffe0e9;
  --color-PIGGY-PINK--6: rgba(255, 224, 233, 0.06);
  --color-TELEMAGENTA: #b33d72;
  --color-TELEMAGENTA--18: rgba(179, 61, 114, 0.18);
  --color-TELEMAGENTA--25: rgba(179, 61, 114, 0.25);
  --color-PASTEL-VIOLET--40: rgba(163, 133, 138, 0.4);
  --color-PASTEL-VIOLET--60: rgba(163, 133, 138, 0.6);

  /* night theme */
  --color-BLACK-BLUE: #001233;
  --color-PIGEON-BLUE: #5f8b9b;
  --color-SULPHUR-YELLOW: #f7d455;
  --color-SULPHUR-YELLOW--25: rgba(247, 212, 85, 0.25);
  --color-LIGHT-BLUE--6: rgba(169, 214, 229, 0.06);
  --color-GREY-BLUE--18: rgba(35, 60, 69, 0.18);
  --color-GREEN-BLUE--25: rgba(33, 72, 85, 0.25);
  --color-IVORY--40: rgba(244, 216, 141, 0.4);
  --color-IVORY--60: rgba(244, 216, 141, 0.6);

  /* home page */
  --color-COBALT-BLUE: #27324d;

  /* home page > section hero  */
  --BLACK: #000;
  --BLACK--40: rgba(0, 0, 0, 0.4);
  --color-BLACK-BLUE--55: rgba(0, 18, 51, 0.55);
  --color-BLACK-BLUE--65: rgba(0, 18, 51, 0.65);
  --color-SKY-BLUE: #007cff;
  --color-WATER: #cee5fe;
  --color-CALAMANSI: #faf6ae;

  /* home page > section footer  */
  --color-BASALT-GREY: #5d5265;
  --color-ONYX: #392d42;

  /* scroll button shadow */
  --color-LIGHT-PINK: #ffadad;
  --color-LIGHT-IVORY: #ffd6a5;
  --color-CREAM: #fdffb6;
  --color-TEA-GREEN: #caffbf;
  --color-WATERSPOUT: #9bf6ff;
  --color-BABY-BLUE-EYES: #a0c4ff;
  --color-VODKA: #bdb2ff;
  --color-BRILLIANT-LAVENDER: #ffc6ff;
  --color-WHITE: #fff;
}
/* ==================================
   Start of: Base styles
   ================================== */
body {
  background-color: var(--color-SIGNAL-BLACK);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* ==================================
   End of: Base styles
   ================================== */
