/* ==================================
   Start of: Page scroll button section
   ================================== */
.scroll-button {
  position: relative;
}

.scroll-button__img {
  pointer-events: none;
  max-width: 100%;
  height: auto;
  transform: scaleX(-1);
  filter: drop-shadow(0 0px 4px var(--color-SULPHUR-YELLOW));
  transition: filter 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ==================================
   End of: Page scroll button section
   ================================== */
