<div class="container-hero">
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hover-area"></div>
  <div class="hero-img"></div>
  <img src="/img/shelter/shelter-bg-items.webp" class="shelter-bg-items" />
  <svg class="icon bg-overley">
    <use href="/img/icons.svg#shelter-overlay"></use>
  </svg>
</div>
