<div class="container">
  <section class="login">
    <div class="title-container">
      <h1 class="login__title title">Welcome~</h1>
      <svg class="icon" width="24" height="24">
        <!-- for the pink theme -->
        <!-- <use href="/img/icons.svg#pixel-heart"></use> -->

        <!-- for the night theme -->
        <use href="/img/icons.svg#pixel-star"></use>
      </svg>
    </div>

    <form class="login-form" name="login-form">
      <label class="login-form__input-label input-label" for="user-name">
        <input
          class="login-form__input form__input"
          type="text"
          placeholder="name"
          name="user-name"
          id="user-name"
          required
        />
      </label>

      <label class="login-form__input-label input-label" for="user-pwd">
        <input
          class="login-form__input form__input"
          type="password"
          placeholder="password"
          name="user-pwd"
          id="user-pwd"
          required
        />
      </label>
    </form>

    <!-- TO DO: turn itnto tag button, type=submit, move to form -->
    <!-- href="home.html" -->
    <a href="home.html#hero" class="login__button">
      <svg class="icon" width="73" height="66">
        <!-- for the pink theme -->
        <!-- <use href="/img/icons.svg#bow"></use> -->

        <!-- for the night theme -->
        <use href="/img/icons.svg#moon"></use>
      </svg>
    </a>
  </section>
</div>
